<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./../../public/icons/favicon.png" type="image/png">
    <link rel="stylesheet" href="./../../src/CSS/style.css">
    <title>Categorías | ShopWise</title>
</head>
<body>

    <header>

        <nav class="nav-modulos">
            <div class="nav-izquierda">
                <a href="dashboard.html" class="icono-volver-container">
                    <img src="./../../public/icons/back.png" alt="Volver" class="icono-volver">
                </a>
                <a href="#" class="marca">S<span>h</span>op<span>W</span>ise</a>
            </div>
            
            <h1 class="nav-titulo">Categorias</h1>

            <div class="icono-login-container">
                <img src="./../../public/icons/login.png" alt="icono de login" id="icono-login">
                <div class="circulo-verde"></div>
            </div>
        </nav>

    </header>

    <main id="main-categorias">

        <img src="./../../public/images/fondo.png" alt="Fondo de Categorias" class="fondo-main">

        <section id="categorias">

            <div class="elegir-categoria">

                <h2>Elegir Categoria</h2>
                <form id="formulario">
                    <label>Nombre de la categoria</label>
                    <input type="text" id="nombre-categoria" required>
                
                    <div class="botones-elegir-categoria">
                        <button type="submit" id="btn-agregar" class="btn-agregar-categoria-enabled">Agregar</button>
                        <button type="submit" id="btn-actualizar" class="btn-actualizar-categoria-disabled">Actualizar</button>
                    </div>
                </form>
                
            </div>

            <div class="lista-categorias">
                <h2>Categorías Registradas</h2>

                <article class="tarjetas-categorias" id="tarjetas-categorias">
                    <!-- Las tarjetas de categorías se generarán dinámicamente aquí -->
                </article>

            </div>

        </section>

    </main>

    <script type="module" src="./../js/categorias.js"></script>
</body>
</html>