<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./../../public/icons/favicon.png" type="image/png">
    <link rel="stylesheet" href="./../../src/CSS/style.css">
    <script type="module" src="./../js/guardian.js"></script>
    <title>Dashboard | ShopWise</title>
</head>
<body>
    <header>

        <nav id="nav-dashboard">

            <a href="#">S<span>h</span>op<span>W</span>ise</a>

            <div class="icono-login-container-dashboard" id="icono-login-dashboard">
                <img src="./../../public/icons/login.png" alt="icono de login" id="icono-login">
                <div class="circulo-verde"></div>
            </div>

        </nav>

    </header>

    <main id="main-dashboard">
        
        <section id="dashboard">

            <div class="dashboard-top">
                <h1>Elige algo para hacer</h1>
                <p>Se encuentran Movimientos, Categorias y Reportes</p>
            </div>

            <div class="dashboard-grid">
                <a href="./movimientos.html" class="dashboard-item movimientos" id="it1">
                    <img src="./../../public/images/movimientos.png" alt="Movimientos">
                    <div class="text-movimientos">
                        <h2>Movimientos</h2>
                        <p>Gestiona tus ingresos y gastos.</p>
                    </div>
                </a>

                <a href="./categorias.html" class="dashboard-item categorias" id="it2">
                    <img src="./../../public/images/categorias.png" alt="Categorias">
                    <h2>Categorías</h2>
                    <p>Organiza tus gastos e ingresos por categorías.</p>
                </a>

                <a href="./reportes.html" class="dashboard-item reportes" id="it3">
                    <img src="./../../public/images/Reportes.png" alt="Reportes">
                    <h2>Reportes</h2>
                    <p>Genera reportes detallados de tus finanzas.</p>
                </a>
            </div>

        </section>

    </main>
    
    <script type="module" src="./../js/dashboard.js"></script>
</body>
</html>