<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Hace que el sitio sea responsive y se adapte a dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Descripción de la página -->
    <meta name="description" content="Gestión de movimientos financieros en ShopWise">

    <!-- Autor de la página -->
    <meta name="author" content="Sebastian Reyes">

    <!-- Palabras clave para SEO -->
    <meta name="keywords" content="Movimientos, Finanzas, ShopWise, Gastos, Ingresos">

    <!-- Ícono de la pestaña -->
    <link rel="icon" href="./../../public/icons/favicon.png" type="image/png">

    <link rel="stylesheet" href="./../../src/CSS/style.css">

    <title>Movimientos | ShopWise</title>
</head>
<body>

    <!-- Header -->
    <header>

        <!-- Barra de navegación usada para movimientos, categorias y reportes -->
        <nav class="nav-modulos">

            <div class="nav-izquierda">

                <!-- Botón para volver al dashboard (pantalla principal) -->
                <a href="dashboard.html" class="icono-volver-container">
                    <img src="./../../public/icons/back.png" alt="Volver" class="icono-volver">
                </a>

                <!-- Marca del sitio ShopWise -->
                <a href="#" class="marca">S<span>h</span>op<span>W</span>ise</a>

            </div>
            
            <!-- Título de la sección actual -->
            <h1 class="nav-titulo">Movimientos</h1>

            <!-- Icono de login del usuario -->
            <div class="icono-login-container">

                <img src="./../../public/icons/login.png" alt="icono de login" id="icono-login">
                <div class="circulo-verde"></div>

            </div>

        </nav>

    </header>

    <!-- Contenido principal de la página -->
    <main id="main-movimientos">
        
        <section id="movimientos">

            <!-- Bloque para agregar y actualizar movimientos -->
            <div class="elegir-movimientos">
                <h2>Agregar movimiento</h2>

                <!-- Formulario para para agregar y actualizar movimientos -->
                <form id="formulario-movimientos">

                    <!-- Etiqueta e input para el tipo de movimiento -->
                    <label>Tipo</label>
                    <select id="tipo-movimiento" class="input-movimiento-opcion" name="tipo" required>
                        <option value="" disabled selected>--Selecciona--</option>
                        <option value="compra">Compra</option>
                        <option value="venta">Venta</option>
                    </select>

                    <!-- Etiqueta e input para la descripción -->
                    <label>Descripción</label>
                    <input type="text" id="descripcion-movimiento" class="input-movimiento" name="descripcion" required>

                    <!-- Etiqueta e input para el importe -->
                    <label>Importe</label>
                    <input type="number" id="importe-movimiento" class="input-movimiento" name="importe" min="1" required>

                    <!-- Etiqueta e input para la fecha -->
                    <label>Fecha</label>
                    <input type="date" id="fecha-movimiento" class="input-movimiento" name="fecha" required>

                    <!-- Etiqueta y select para la categoría -->
                    <label>Categoría</label>
                    <select id="categoria-movimiento" class="input-movimiento-opcion" name="category" required>
                        <option value="" disabled selected>--Selecciona--</option>
                    </select>

                    <!-- Botón para guardar el movimiento -->
                    <button type="submit" id="btn-guardar-movimiento">Guardar Movimiento</button>

                </form>

            </div>

            <!-- Bloque para mostrar la lista de movimientos -->
            <div class="lista-movimientos">

                <h2>Lista de Movimientos</h2>

                <div class="filtros" id="filtros">

                    <!-- Filtro por tipo de movimiento -->
                    <label>Tipo</label>
                    <select id="filtro-tipo-movimiento" class="input-movimiento-opcion input-tipo-filtro">
                        <option value="" selected>--Tipo--</option>
                        <option value="compra">Compra</option>
                        <option value="venta">Venta</option>
                    </select>

                    <!-- Filtro por categoría -->
                    <label>Categoria</label>
                    <select id="filtro-categoria-movimiento" class="input-movimiento-opcion">
                        <option value="" selected>--Categoria--</option>
                    </select>

                    <!-- Filtro por fecha de inicio -->
                    <label for="filtro-fecha-inicio">Desde:</label>
                    <input type="date" id="filtro-fecha-inicio" class="date_filtros" name="desde">

                    <!-- Filtro por fecha de fin -->
                    <label for="filtro-fecha-fin">Hasta:</label>
                    <input type="date" id="filtro-fecha-fin" class="date_filtros" name="hasta">

                    <!-- Botón para limpiar filtros -->
                    <button id="btn-limpiar-filtros" class="btn-limpiar">Limpiar</button>

                    <h3> Ordenar </h3>

                    <label>Reciente</label>
                    <select id="filtro-reciente-movimiento" class="input-movimiento-opcion">
                        <option value="" selected>--Selecciona--</option>
                        <option value="">Mas reciente</option>
                        <option value="">Menos reciente</option>
                    </select>

                    <label>Importe</label>
                    <select id="filtro-importe-movimiento" class="input-movimiento-opcion">
                        <option value="" selected>--Selecciona--</option>
                        <option value="">Mayor importe</option>
                        <option value="">Menor importe</option>
                    </select>

                    <label>Alfabeticamente</label>
                    <input type="text" id="alfabeticamente-movimiento" class="input-movimiento">

                </div>
                
                <!-- Tabla para mostrar los movimientos -->
                <table id="tabla-movimientos">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Descripcion</th>
                            <th>Importe</th>
                            <th>Fecha</th>
                            <th>Categoria</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-movimientos">
                        <!-- Aquí se inyectarán dinámicamente las filas -->
                    </tbody>
                </table>

            </div>

        </section>

    </main>

    <!-- Importa el archivo JavaScript específico para esta página -->
    <script type="module" src="./../js/movimientos.js"></script>
</body>
</html>