<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./../../public/icons/favicon.png" type="image/png">
    <link rel="stylesheet" href="./../../src/CSS/style.css">
    <title>Movimientos | ShopWise</title>
</head>
<body>
    <header>

        <nav class="nav-categorias">
            <div class="nav-izquierda">
                <a href="dashboard.html" class="icono-volver-container">
                    <img src="./../../public/icons/back.png" alt="Volver" class="icono-volver">
                </a>
                
                <a href="#">S<span>h</span>op<span>W</span>ise</a>
            </div>
            
            <h1 class="nav-titulo">Movimientos</h1>

            <div class="icono-login-container">
                <img src="./../../public/icons/login.png" alt="icono de login" id="icono-login">
                <div class="circulo-verde"></div>
            </div>
        </nav>

    </header>

    <main id="main-movimientos">

        <img src="./../../public/images/fondo.png" alt="Fondo de Movimientos" class="fondo-main">

        <section id="movimientos">

            <div class="elegir-movimientos">
                <h2>Agregar movimiento</h2>

                <form id="formulario-movimientos">
                    <label>Tipo</label>
                    <select id="tipo-movimiento" class="input-movimiento-opcion" name="tipo" required>
                        <option value="selecciona" >--Selecciona--</option>
                        <option value="selecciona" >Compra</option>
                        <option value="selecciona" >Venta</option>
                    </select>

                    <label>Descripción</label>
                    <input type="text" id="descripcion-movimiento" class="input-movimiento" name="descripcion" required>

                    <label>Importe</label>
                    <input type="number" id="importe-movimiento" class="input-movimiento" name="importe" min="1" required>

                    <label>Fecha</label>
                    <input type="date" id="fecha-movimiento" class="input-movimiento" name="fecha" required>

                    <label>Categoría</label>
                    <select id="categoria-movimiento" class="input-movimiento-opcion" name="categoria" required>
                        <option value="selecciona" >--Selecciona--</option>
                    </select>

                    <button type="submit" id="btn-guardar-movimiento">Guardar Movimiento</button>
                </form>
            </div>

            <div class="lista-movimientos">
                <h2>Lista de Movimientos</h2>
                <div class="filtros">
                    <select id="tipo-movimiento" class="input-movimiento-opcion">
                        <option value="selecciona" >-Tipo-</option>
                        <option value="selecciona" >Compra</option>
                        <option value="selecciona" >Venta</option>
                    </select>

                    <select id="tipo-movimiento" class="input-movimiento-opcion">
                        <option value="selecciona" >-Categoria-</option>
                    </select>

                    <input type="date" id="filtro-fecha-inicio" />
                    <input type="date" id="filtro-fecha-fin" />

                    <button id="btn-limpiar-filtros">Limpiar</button>
                </div>
                
                <table id="tabla-movimientos">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Ciudad</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-movimientos">
                        <!-- Aquí se inyectarán dinámicamente las filas -->
                    </tbody>
                </table>

            </div>

        </section>

        <img src="./../../public/images/fondo.png" alt="Fondo de Movimientos" class="fondo-movimientos-2"> <!--arreglar-->

    </main>

    <script type="module" src="./../js/movimientos.js"></script>
</body>
</html>