<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./../../public/icons/favicon.png" type="image/png">
    <link rel="stylesheet" href="./../../src/CSS/style.css">
    <title>Reportes y analisis | ShopWise</title>
</head>
<body>
    <header>

        <nav class="nav-modulos">
            <div class="nav-izquierda">
                <a href="dashboard.html" class="icono-volver-container">
                    <img src="./../../public/icons/back.png" alt="Volver" class="icono-volver">
                </a>
                <a href="#" class="marca">S<span>h</span>op<span>W</span>ise</a>
            </div>
            
            <h1 class="nav-titulo">Reportes</h1>

            <div class="icono-login-container">
                <img src="./../../public/icons/login.png" alt="icono de login" id="icono-login">
                <div class="circulo-verde"></div>
            </div>
        </nav>

    </header>

    <main id="main-reportes">

        <img src="./../../public/images/fondo.png" alt="Fondo de Reportes y Analisis" class="fondo-main">

        <section id="reportes">

            <div class="contenedor-grid-reportes">

                <div class="tarjetas-reportes">
                    <h2>🔝 Categoria mas vendida</h2>
                    <p>-</p>
                </div>

                <div class="tarjetas-reportes">
                    <h2>🛍️ Categoria con mas compras</h2>
                    <p>-</p>
                </div>

                <div class="tarjetas-reportes">
                    <h2>📦 Producto mas vendido</h2>
                    <p>-</p>
                </div>

                <div class="tarjetas-reportes">
                    <h2>🛒 Producto mas comprado</h2>
                    <p>-</p>
                </div>

            </div>

        </section>

        
        
    </main>
</body>
</html>